@{
    ViewBag.Title = "Admin page";
}
<div class="row">
    <div class="col-md-12">

        <div class="col-md-offset-1 title">
            <h1>@ViewBag.Title</h1>
        </div>
        @Html.ActionLink("Departaments","Index","Departament")
        <br/>
        @Html.ActionLink("Genres", "Index", "Genre")
        <br />
        @Html.ActionLink("Painters", "Index", "Painter")
    </div>
</div>

